body {
    box-sizing: border-box;
    margin: 0;
    padding-top: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    /* overflow-x: hidden; */
    background: url('https://img.olympics.com/images/image/private/t_s_pog_staticContent_hero_lg_2x/f_auto/primary/frj6ok3gmklq8rc2a5ql') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}
.container {
    max-width: 800px;
    padding: 40px;
    margin-bottom: 50px;
    /* margin-top: 30px; */
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
    /* position: relative; */
    animation: zoomIn 1s ease-out;
}
.form-row{
    color: white;
}

.form-control {
    border-radius: 0.5rem;
    border: 1px solid #444;
    background: rgba(0, 0, 0,0.5);
    transition: background-color 0.3s, border-color 0.3s, transform 0.2s, box-shadow 0.3s;
    /* padding: 10px; */
    font-size: 1rem;
    color: white;
}
.form-control:focus {
    border-color: #48965a;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.03);
}
.btn-primary {
    background-color: #369b4e;
    border-color: #28a745;
    border-radius: 0.5rem;
    padding: 10px 18px;
    font-size: 1.5rem;
    transition: background-color 0.3s, border-color 0.3s, transform 0.2s, box-shadow 0.3s;
}
.btn-primary:hover {
    background-color: #218838;
    border-color: #1e7e34;
    transform: scale(1.05);
}
.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}
.form-row {
    margin-bottom: 1.5rem;
}
.form-group {
    margin-bottom: 1.5rem;
}
.form-section {
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
    animation: fadeIn 1s ease-in-out;
    background: rgba(255, 255, 255,0.3);
    color: #333;
    margin-bottom: 20px;
}
.form-section h2 {
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    color: #333;
    font-size: 1.5rem;
    font-weight: bold;
}
.prediction-result {
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
    animation: fadeIn 1s ease-in-out;
    background: rgba(255, 255, 255,0.2);
    color: #ffffff;
    margin-bottom: 20px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes zoomIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
h1, h2 {
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
}
.footer {
    text-align: center;
    padding: 15px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    /* box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.6); */
}
.footer a {
    color: #28a745;
    text-decoration: none;
    font-weight: bold;
}
.footer a:hover {
    text-decoration: underline;
}
/* Hide spin buttons in Chrome, Safari, Edge */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide spin buttons in Firefox */
input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

/* Hide spin buttons in Internet Explorer 10+ */
input[type="number"]::-ms-clear {
    display: none;
}
